/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.10.2013, 21:29:31
    Author     : matus_000
*/
@font-face
{
    font-family: berlinSans ;
    src: url('../fonts/berlin-sans-fb-demi-bold.ttf');
}

body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #8D0B0B;
    color: #4B3A4A;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: #34306a;
}

a .hover{
    color: #edf1f8;
}

a .visited{
    font-weight: bold;
    text-decoration: none;
    color: #34306a;
}

#mainContainer{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    background-color: #FFCF87;
    border-radius: 30px;
    padding: 30px 30px 0 30px ;
    overflow: hidden;
}

#logo{
    width: 219px;
    height: 83px;
    background-image: url('../images/logo.png');
    margin: 20px 0px 0px 20px;
    text-indent: -9999px;
    //padding: 20%;
    background-size: 70%; 
    background-repeat: no-repeat; 
}

#top{
    overflow: hidden;
}

#motto{
    font-family: "berlinSans";
    width: 500px;
    //font-weight: bold;
    font-size: 35px;
    float: left;
    margin-bottom: 30px;
    color:#7A4559;
}

#download{ 
    width: 224px;
    float: right;
    margin-top: 10px;
}

#download #button{
    /*docasne som sem vrazil image*/
    width: 224px;
    height: 56px;
    background-image: url('../images/downloadOff.png');
    text-indent: -9999px;
}

#download #description{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13px; 
}
#download #version{
    font-size: 10px;
    float:right;
}

h2{
    font-family: "berlinSans";
    font-size: 35px;
    margin: 0px 0px 0px 50px;
    color:#7A4559;
}

#members{
    list-style: none;
    overflow: hidden;
}

#members li{
    width: 210px;
    float:left; 
    display:inline;
    margin-right: 20px;
}

#members h3{
    font-size: 20px;
    margin: 0 0 0 0;
}

#memebers p{
    margin-right: 10px;
}

#footer{
    float: right;
}